@model CheckInWeb.Models.AddLocationViewModel

@{
    ViewBag.Title = "Add Location";
}

<h2>Add Location</h2>


@using (@Html.BeginForm("AddLocation","Location"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, "TextBox", new {@class = "form-control"})
        <button type="submit">Save</button>
    </div>
    }
